@config "../../tailwind.config.ts";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  #app {
    @apply w-full overflow-hidden relative bg-zinc-100 flex mx-auto max-w-[1500px]  h-dvh;
  }
  .page-container {
    @apply flex  overflow-hidden flex-col flex-1 gap-2 [&>div]:rounded-2xl [&>div]:shadow-md;
  }
  .page-content {
    @apply flex-1 w-full mx-auto  overflow-y-auto overflow-x-hidden;
  }
  .form-input {
    @apply w-full h-[35px];
  }
  .rounded-btn {
    @apply flex-center  p-1 size-8 rounded-full;
  }

  .input-transparent {
    @apply w-full bg-transparent border-none outline-none focus:ring-0 shadow-none;
  }
}

@layer base {
  * {
    font-family: "Tajawal", system-ui, sans-serif !important;
  }
  body {
    background-color: lightgray;
  }
}

body {
  --sb-track-color: #aeb4b7d1;
  --sb-thumb-color: #6baf8d;
  --sb-size: 7px;
  --text-black: #0f1419;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*  */
.p-datatable th {
  background-color: var(--primary-300);
  color: var(--text-black);
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: initial;
}
