@config "../../tailwind.config.js";

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  .flex-center {
    @apply flex justify-center items-center;
  }
  #app {
    @apply w-full mx-auto max-w-[1500px] bg-gray-50;
  }
  .mx-container {
    @apply w-full mx-auto max-w-[1200px];
  }
  .form-input {
    @apply w-full h-[35px];
  }
}

@layer base {
  * {
    font-family: 'Tajawal', system-ui, sans-serif !important;
  }
}

body {
  --sb-track-color: #aeb4b7d1;
  --sb-thumb-color: #6baf8d;
  --sb-size: 7px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
